body{
	background: white url("images/background.gif") no-repeat left top;
}

#container {
	margin: auto;
	max-width: 800px;
	height: 1000px;
}

header {
	width: 100%;
	background-color: black;
	color: white;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

.button {
	background: linear-gradient(white, gray);
	padding: 2px;
	margin: 2px 2px 2px 2px;
	border: 1px solid black;
	text-align: center;
}

li a {
	color: green;
}