html {
	background: white url("images/background.gif") no-repeat right bottom;
}

header {
	width: 100%;
	background-color: black;
	color: white;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

li a {
	color: green;
}